* {
	box-sizing: border-box;
}

.container {
	width: 900px;
	margin: 0 auto;
}

section > * {
  float: left;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

body {
	font: 12px arial;
	margin: 0;
	background-color: #BDC3C7;
}

h1, h2, p {
	margin: 0;
}

.header, .footer {
	background-color: #D35400;
	padding: 20px;
}

.main {
	background-color: #ffffff;
	padding: 20px;
	width: 700px;
}

.main p {
	margin: 10px 0;
}

.secondary {
	background-color: #2C3E50;
	padding: 20px;
	width: 200px;
}

.secondary p {
	font-size: 15px;
	color: #ffffff;
	margin: 10px 0;
}
