html {
	font: 16px arial;
	background-color: #c0c0c0;
}

body, h1, h2, p, blockquote, figure {
	margin: 0;
}
header {
	background-color: #33cc99;
	border: thick 2px #000000;
	padding: 2em;
	color: #ffffff;
};

header h1 {
	margin:0;
}


article {
	padding: 3em 2em;
}

article h2 {
	color:#009966;
	letter-spacing: -1px;
}

article p {
	margin: 20px 0;
	line-height: 1.5em;
}

blockquote {
	font-size: 1.5em;
	font-style: italic;
	letter-spacing: -1px;
	line-height: 1.5em;
}

blockquote p {
	margin: 0;
	line-height: 1.2em;
}

figure {
	border: 2px solid #cccccc;
	background-color: #eeeeee;
	padding: 1.8em;
	margin: 1em;
}

figure img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

footer {
	background-color: #33cc99;
	border-top: 1px solid #000000;
	padding: 1em;
}

.wrapper {
	max-width: 800px;
	background-color: white;
	margin: auto;
	min-width: 340px;
}
